/* ----------------
css specific to cyo page 
-------------------*/

.showModal{
    transform: translate3d(0, 0, 0) !important;
}

.modal{
    border: 10px solid var(--red);
    background: linear-gradient(var(--whiteGradient));
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-items: center;
    transform: translate3d(-120%, 0, 0);
    transition: all 0.5s ease-out;
    padding: 1rem;
}

#summaryTable{
    margin: 1rem;
}

form#modalForm{
    display:grid;
    align-items:center;
    grid-auto-flow:row;
    width: 60%;
    justify-content:center;
    grid-gap:20px;
    justify-self: center;
}

form#modalForm > input{
    height: 2em;
}

.pizza-maker{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "headline-create headline-create"
    "pizza-maker-left pizza-maker-right";
    grid-gap: 1rem;
}

.headline-create{
    grid-area: headline-create;
}

.pizza-maker-left{
    background: linear-gradient(var(--whiteGradient));
    grid-area: pizza-maker-left;
    display:grid;
    min-height: 50vw;
    padding: 0 1rem 1rem 1rem;
    grid-template-areas:
    "toppingHeading"
    "toppingElements"
    "orderNow";
    grid-gap:1rem;
    position: relative;
    align-content: center;
}

.pizza-maker-imgs{
    display: grid;
    position: relative;
}

.toppingPrice, .toppingName, .toppingSymbol{
        margin:0.4em;
}

#elementHeading{
    grid-area:elementHeading;
}
#elementForm{
    grid-area:elementForm;
}
.pizza-maker-right{
    background: linear-gradient(var(--blackGradient));
    grid-area: pizza-maker-right;
    display:grid;
    position: relative;
    min-height: 50vw;
    padding: 5%;
}

.pizza-part{
    position: absolute;
    width: 100%; 
}

input[type=checkbox] {
    -webkit-appearance: button;
    border: 2px solid #494241;
    background: transparent;
    color: #FFF;
    overflow: hidden;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    margin:0;    
    outline: 0; 
}

.toppingHeading{
    grid-area:toppingHeading;
}

.toppingElements{
    width:100%;
    display:grid;
    grid-gap: 20px;
    grid-area:toppingElements;
    grid-auto-flow:row;
     grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
     grid-template-rows: repeat(3, 1fr);
    
}

.topping{
    background: var(--white);
    position: relative;/*to absolutely position invisible checkbox*/
    display:grid;
    padding: 1rem;
}

.toppingPrice{
    text-align: left;
    font-size: 0.8rem;
}

.toppingSymbol{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    margin:0;
}

.toppingName{
    text-align: center;
    font-size: 0.8rem;
}

.toppingOn{
    background:#679580;
    color: var(--white);
}

.summaryTable{
    width:90%;
    grid-area:orderNow;
}

@media only screen and (max-width: 790px) {
    .pizza-maker {
        grid-template-columns: 1fr;
        grid-template-areas: "headline-create" "pizza-maker-right" "pizza-maker-left";;
    }
    div.pizza-maker-left, div.pizza-maker-right{
        min-height: 100vw;
    }

    p.toppingPrice, p.toppingName{
        font-size: 0.8em;
    }

    p.toppingSymbol{
        font-size: 1em;
    }
}

